


.grid {
    border: 1px solid;
    height: 75vh;
    width: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#slot-one {
    height: 175px;
    width: 25px;
    background-color: red;
}

#slot-two {
    height: 175px;
    width: 25px;
    background-color: blue;
}

#slot-three {
    height: 175px;
    width: 25px;
    background-color: pink;
}

#slot-four {
    height: 175px;
    width: 25px;
    background-color: brown;
}

#slot-five {
    height: 175px;
    width: 25px;
    background-color: black;
}

#slot-six {
    height: 175px;
    width: 25px;
    background-color: green;
}

#slot-seven {
    height: 175px;
    width: 25px;
    background-color: aqua;
}

.cell {
    border: 2px solid black;
    height: 25px;
}


/* .grid div {
    height: 25px;
    width: 25px;
} */


/* .table {
    table-layout: fixed;
    width: 100vh;
    height: 100vh;
    border-collapse: collapse;
    border: 5px solid purple;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-areas: 
        "td"
        "tr";
}

tr {
    grid-area: tr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.slot {
    grid-area: td;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
} */ 