



.grid {
    border: 1px solid;
    height: 120px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
    background-color: brown;
}

.grid div {
    height: 20px;
    width: 20px;
}






/* .table {
    table-layout: fixed;
    width: 100vh;
    height: 100vh;
    border-collapse: collapse;
    border: 5px solid purple;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-areas: 
        "td"
        "tr";
}

tr {
    grid-area: tr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.slot {
    grid-area: td;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
} */ 