
/* * {
    display: gri
} */

.grid {
    border: 1px solid;
    height: 67vh;
    width: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.slot {
    height: 67vh;
    width: 10.7134vh;
    /* background-color: white; */
}

.cell {
    border: 2px solid black;
    height: 10.7134vh;
}

.whose-turn .winner-announcement {
    color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    color: black;
    height: 150px;
    width: 300px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.input-names {
    color: black;
    height: 200px;
    width: 160px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}
